* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.button {
  font-size: 16px;
  font-weight: 500;
  width: 0px;
  height: 54px;
  border-bottom: 2px solid #0066ff;
}

.button:hover {
  animation: stretchBar 2s linear;
}

@keyframes stretchBar {
  0% {
    width: 0px;
  }
  100% {
    width: 86px;
  }
}
