* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
}

.card {
  width: 840px;
  height: 248px;
  display: flex;
  justify-content: space-between;
  padding: 24px;
  background-color: white;
}

.card-image {
  width: 300px;
  height: 199px;
  background-image: url("./assets/img-house.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 12px;
}

.card-like {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: white;
  background-repeat: no-repeat;
  background-image: url("./assets/icon-favorite.svg");
  background-position: center center;
}
.content-detail-item {
  font-size: 16px;
  line-height: 1.25;
  color: #7d858f;
}

.content-detail {
  display: flex;
  justify-content: space-between;
  width: 468px;
}

.content-detail-item strong {
  padding: 1px 8px;
  background-color: #92174d;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.425857143;
  color: #fff;
  font-weight: 500;
  margin-right: 8px;
}

.content-detail-review {
  display: flex;
  align-items: center;
  color: #7d858f;
}

.content-detail-review span {
  color: #151b26;
  font-weight: 4;
}

.content-detail-review img {
  width: 13px;
  height: 13px;
  margin-right: 5px;
}

.content-title {
  margin-bottom: 16px;
}

.content-title a {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  text-decoration: none;
  color: #151b26;
}

.content-info {
  display: flex;
  flex-direction: column;
  justify-tracks: center;
  color: #7d858f;
  font-size: 14px;
  line-height: 1.14285714;
}

.content-info span {
  margin-bottom: 8px;
}
