* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Noto Sans KR", sans-serif;
}
a {
  text-decoration: none;
  outline: none;
}

h1,
p {
  color: #fff;
  font-weight: 900;
  text-align: center;
  font-size: 32px;
}

.apply {
  background-color: #ffc82c;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

.apply span {
  color: #1f2d3d;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

main {
  padding: 0 20px;
  background-image: url("./assets/img-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.look-button {
  border: 2px solid #fff;
  border-radius: 16px;
  background: transparent;
  margin-top: 32px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 16px 39px;
}

.look-button a {
  color: #fff;
  font-weight: 700;
}

@media screen and (max-width: 736px) {
  .apply {
    top: auto;
    bottom: 0;
    height: 60px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  h1,
  p {
    text-align: right;
    font-size: 24px;
  }

  .look-button {
    margin-top: 24px;
    padding: 14px 37px;
  }
  .look-button a {
    font-size: 12px;
  }
}
